<div class="container">
  
<h2>商品一覧</h2>
  <div>
    <%= link_to new_admin_item_path do %>
    <追加>
    <% end %>
  </div>

<table>
  <thead>
   <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
   </tr>
  </thead>
  <% @items.each do |item| %>
  
  <tbody>
   <tr>
     <th><%= item.id %></th>
     <th>
       <%= link_to admin_item_path(item.id) do %>
        <%= item.name %>
       <% end %>
     </th>
     <th><%= item.price %>円</th>
     <th><%= item.genre.name %></th>
   </tr>
  </tbody>
  <% end %>
  


  
  
</table>

 <%= paginate @items %>