<h1>注文情報入力</h1>
<%= form_with model: @oder do |f| %>

  <h5>支払い方法</h5>
     <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>

     <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %> </br>

    <h5>お届け先</h5>
        <%= f.radio_button :address_id, "address" %>
          <%= f.label :address_id, "ご自身の住所" %></br>
     <%#= "〒" + @customer.postal_code + @customer.address + @customer.first_name + @customer.last_name %>
       <%= @customer.address_display %> </br>

        <%= f.radio_button :address_id, "addresses" %>
         <%= f.label :address_id, "登録済み住所から選択" %></br>
          <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %></br>

        <%= f.radio_button :address_id, "new_address" %>
          <%= f.label :address_id, "新しいお届け先" %></br>
          
          <table>
            <tr>
                <th>郵便番号</th>
                <td><%= f.number_field :postal_code%></td>
            </tr>
            
            <tr>
                <th>住所</th>
                <td><%= f.text_area :address %></td>
            </tr>
            
            <tr>
                <th>宛名</th>
                <td><%= f.text_field :name %></td>
            </tr>
          
          </table>
          
          <%= f.submit '確認画面へ進む',class:"btn btn-primary" %>

<% end %>
