<div class="container">
<div class="row">

   <div class="col-4">
     <%= image_tag @item.image, size: "300x300" %>
   </div>

   <div class="col-8">
       <h2><%= @item.name %></h3></br>
       <h4><%= @item.introduction %></h4></br>
       <h4><%= @item.with_tax_price.to_s(:delimited) %>円(税込)</h4>

      <%= form_with model: @cart_item, url: public_cart_items_path ,method: :POST do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        
        個数選択<%= f.select :amount, *[1..10]  %>

        <%= f.submit 'カートに入れる',class:"btn btn-success" %>
      <% end %>
   </div>